client/node_modules/
client/dist/
client/dist-ssr/
client/*.local
client/.env
client/.env.*.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*


taskmanager/target/
taskmanager/build/
taskmanager/.mvn/wrapper/maven-wrapper.jar
taskmanager/out/
taskmanager/*.log
taskmanager/*.gz


.idea/
.vscode/
*.swp
*.bak
*.tmp
.DS_Store
Thumbs.db